/*
* {
    box-sizing: border-box;
}
*/
/*
html {
    overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
    /*background-color: #fff; /* To cover OSes with no default background color *//*
}
*/
html, body {
    height:100%;

}
body {
    display:flex;
    flex-direction:column;
}


/*
body {
    margin: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
*/

/* Utilities ---------------------------- */

.u-avoid-clicks {
    pointer-events: none;
}


.no-display {
    display: none !important;
}

.disable-select {
    -webkit-user-select: none;
}

.element-disabled {
    pointer-events: none !important;
    opacity: 0.5;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.section {
    position: absolute;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
}
    
    .section.is-shown {
        pointer-events: auto;
        visibility: visible;
        opacity: 1;
    }

.section-third{
    width: 100%;
    height: 33.33333%;
    display:flex;
    flex-direction: column;
}
.section-half {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
    
/*
.text-content {
    overflow-wrap: normal;
    overflow-x: auto;
    padding: 1rem;
    margin: 2rem;
    border: 2px solid black;
    height: 50%;
    background-color: white;
}
    */
/*
.textSection{
    left:0;
    right:30%;
}*/
/*
.asideSec{
    right:0;
    left:70%;
    margin: 2rem;
}*/

/* ASIDE 
#aside-wrap{
    float:right;
}

#aside-chosenkeys{
    height:300px;
}
*/
/*
#final-censoredwords {
    height: 300px;
    width: 170px;
}

ul {
    border: 2px solid black;
    height: 100%;
    overflow: auto;
}

.win-control-button {
    max-width: 30px;
    max-height: 30px;
    display: inline-block;
}

#titlebar-window-controls {
    float: right;
    min-height: 30px;
    max-height: 30px;
}
*/
#top-titlebar {
    top:0;
    left:0;
    right:0;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    z-index: 9001;
    height:27px;
    position:absolute;
}
.corner-buttons {
    height: 32px;
}

.navbar-text {
    font-size: 11px;
    margin:0;
}

#upper-nav-bar .w3-button{
    width:116px;
    height:62px;
}

.navbar-image {
    height: 30px;
}

#slipps-title-icon {
    margin-left: -10px;
    margin-top: -5px;
    height: 45px;
    padding-right: 10px;
}
#titlebar-left-corner{
    z-index: 9000;
    width:unset;
    right:216px;
    height: 32px;
}
/*
#titlebar-filename{
    margin-top:0px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    min-width:0;
    max-width:400px;
    padding-left:0;
    padding-right:0;
}
*/
#titlebar-appname {
    z-index:9000;
    overflow-x:hidden;
    text-overflow:ellipsis;
    margin-top: -3px;
    padding-left:40px;
    white-space:nowrap;
    position:absolute;
    width:100%;
}
#titlebar-window-controls {
    width: 232px;
    height: 32px;
    z-index: 9002;
}

.slipps-footer-btn {
    font-size: smaller;
}
/*
.about {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.1);
    transition: visibility 0s .12s linear, opacity .12s ease-in, transform .12s ease-in;
    z-index: 8000;
    background-color: #dadada;
}

    .about.is-shown {
        pointer-events: auto;
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        transition: visibility 0s 0s linear, opacity .24s ease-out, transform .24s ease-out;
    }


.ui-prompt {
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    max-width: 25rem;
    -webkit-user-select: none;
    background-color: rgba(22, 155, 213, 1);
}

    .ui-prompt h2 {
        overflow: hidden;
        overflow-wrap: normal;
    }

.ui-button:hover {
    background-color: darkgrey;
}
*/
/* Content ------------------ */
.content {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.is-shown {
        visibility: visible;
        opacity: 1;
}

.not-shown {
    visibility: hidden;
    opacity: 0;
}

p, h1, h2, h3, h4, h5, h6, li {
    -webkit-user-select: none;
}

li {
    font-size: smaller;
    overflow-wrap: break-word;
}

.decsv-gray {
    background-color:#dadada;
}

.censored {
    text-decoration: line-through;
}

.underlined {
    background-color: rgba(22, 155, 213, 1);
}

.word {
    cursor: pointer;
}

    .word:hover {
        text-shadow: 0 0 9px rgba(255,0,0,1);
    }
