html, body {
    height:100%;

}
body {
    display:flex;
    flex-direction:column;
}

/* Utilities ---------------------------- */

.u-avoid-clicks {
    pointer-events: none;
}


.no-display {
    display: none !important;
}

.disable-select {
    -webkit-user-select: none;
}

.element-disabled {
    pointer-events: none !important;
    opacity: 0.5;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}
/* Window elements and sections ------------------------- */
.section {
    position: absolute;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
}
    
    .section.is-shown {
        pointer-events: auto;
        visibility: visible;
        opacity: 1;
    }

.section-third{
    width: 100%;
    height: 33.33333%;
    display:flex;
    flex-direction: column;
}
.section-half {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
    

#top-titlebar {
    top:0;
    left:0;
    right:0;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    z-index: 9001;
    height:27px;
    position:absolute;
}
.corner-buttons {
    height: 32px;
}

.navbar-text {
    font-size: 11px;
    margin:0;
}

#upper-nav-bar .w3-button{
    width:116px;
    height:62px;
}

.navbar-image {
    height: 30px;
}

#slipps-title-icon {
    margin-left: -10px;
    margin-top: -5px;
    height: 45px;
    padding-right: 10px;
}
#titlebar-left-corner{
    z-index: 9000;
    width:unset;
    right:216px;
    height: 32px;
}

#titlebar-appname {
    z-index:9000;
    overflow-x:hidden;
    text-overflow:ellipsis;
    margin-top: -3px;
    padding-left:40px;
    white-space:nowrap;
    position:absolute;
    width:100%;
}
#titlebar-window-controls {
    width: 232px;
    height: 32px;
    z-index: 9002;
}

.slipps-footer-btn {
    font-size: smaller;
}

/* Content ------------------ */
.content {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.is-shown {
        visibility: visible;
        opacity: 1;
}

.not-shown {
    visibility: hidden;
    opacity: 0;
}

p, h1, h2, h3, h4, h5, h6, li {
    -webkit-user-select: none;
}

li {
    font-size: smaller;
    overflow-wrap: break-word;
}

.decsv-gray {
    background-color:#dadada;
}

.censored {
    text-decoration: line-through;
    text-shadow: 0 0 9px rgba(255,0,0,1);
}

.underlined {
    background-color: rgba(22, 155, 213, 1);
}

.word {
    cursor: pointer;
}

    .word:hover {
        text-shadow: 0 0 9px rgba(255,0,0,1);
    }

    .word.censored {
        text-shadow: 0 0 9px #2196F3 !important;
    }

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: darkgray;
    outline: none;
    border-radius: 5px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #2196F3 !important;
    cursor: pointer;
    border-radius: 5px;
}

.importable-0 {
    background-color: rgba(33, 150, 243, 0.36);
}

.importable-1 {
    background-color: rgba(244, 67, 54, 0.36);
}

.importable-2 {
    background-color: rgba(76, 175, 80, 0.36);
}