.aside{
    /*
    background-color:burlywood;
    */
}
.drag{
    background-color: blueviolet;
}

ul{
    background-color:greenyellow;
}

.text-content {
    background-color: blanchedalmond;
}

.about {
    background-color: azure;
}