* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
    /*background-color: #fff; /* To cover OSes with no default background color */
}

body {
    margin: 5px;
    height: 100%;
    display: flex;
    flex-direction:column;
}


/* Utilities ---------------------------- */

.u-avoid-clicks {
    pointer-events: none;
}


.no-display {
    display: none;
}

.disable-select {
    -webkit-user-select: none;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}


/* Content ------------------ */

.content {
    flex: 1;
   position: relative;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
       
}

    .content.is-shown {
        visibility: visible;
        opacity: 1;
    }

p, h1, h2, h3, li {
    -webkit-user-select:none;
}

.censored{
    text-decoration:line-through;
}

.underlined {
    background-color: rgba(22, 155, 213, 1);
}

.word{
    cursor:pointer;
}
    .word:hover {
        text-shadow: 0 0 9px rgba(255,0,0,1);
    }