.win-control-button {
    max-width: 40px;
    max-height: 40px;
    display: inline-block;

}

#titlebar-window-controls {
    display: inline-block;
    float: right;
    max-height: 40px;
    max-height: 40px;
}

#top-titlebar{
    z-index: 9001; /*  IT'S OVER NINE THOUSAAAAAAND!!! */
}