.win-control-button {
    max-width: 30px;
    max-height: 30px;
    display: inline-block;

}

#titlebar-window-controls {
    float: right;
    min-height: 30px;
    max-height: 30px;
}

#top-titlebar{
    z-index: 9001; /*  IT'S OVER NINE THOUSAAAAAAND!!! */
}