.ui-prompt {
    /*
    position:absolute;
    */
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    max-width: 25rem;
    -webkit-user-select: none;
    background-color: rgba(22, 155, 213, 1);
    /*
    cursor:pointer;
    */
}
.ui-prompt h2{
    overflow:hidden;
    overflow-wrap:normal;
}

.ui-button:hover {
    background-color:darkgrey;
}

